<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Owners</title>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/4.0.0/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/bilal-css.css}" media="screen"/>

    <script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
<div class=row>
    <div class="container">
        <br/>
        <h1 class="owner-main-title-profile" align="center">NEW PROFILE</h1>
    </div>
</div>

<div class = "row">
    <div class="container">
        <input type="text" class="form-control" name="ownerName" id="ownerName" placeholder="Name.." width="70px"/>
    </div>
</div>


<script src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>